.carousel-inner{
    display: flex;
    align-items: center;
    width: 45%;
    height: -10%; }

    .carousel{
        display: flex;
        justify-content: center;
    }

    .carousel-control-next-icon, .carousel-control-prev-icon{
        background-color: #ff5733; /* Altere a cor de fundo do ícone */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra leve e esfumaçada */
        border-radius: 50%; /* Deixa o ícone arredondado */
    }
   
  