.img-3 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: -0.2rem;
}

.img-3 > a {
    display: flex;
    width: auto;
    padding: 0;
    margin: 0;
    position: relative; 
}

.img-3 > a > img {
    width: 100%;
    height: auto;
    display: block;
}

.text-overlay {
    position: absolute; 
    bottom: 10px; 
    left: 50%; 
    transform: translateX(-50%); 
    color: rgb(236, 236, 234); 
    font-size: 2.5rem; 
    font-weight: bold; 
    font-family: 'otica', Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 4px rgba(124, 101, 101, 0.7); 
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 5px;
}